.login {
    height: 75px;
    width: 100%;
    background-color: #35FFA6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.login-area {
    margin-top: 25px;
    display: inline-block;
}

.registration {
    background-image: url("../../public/images/group-background-image.jpg");
    background-color: #CBE2DF;
    height: 600px;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.registration-area {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}